.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 5px;
}
h1 {
  font-size: 4rem;
}
button {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px, 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button {
  background-color: green;
  font-size: 2.3rem;
  padding-bottom: 10px;
}
.add-button:hover {
  background-color: rgb(0, 198, 0);
}
.delete-button {
  background-color: red;
  width: 100px;
  height: 50px;
}
.delete-button:hover {
  background-color: rgb(154, 1, 1);
}
input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: rgb(11, 11, 11);
}
ul {
  padding-top: 30px;
  display: table;
  margin: 0 auto;
  list-style-type: none;
}
li {
  font-size: 25px;
  font-weight: bold;
  padding: 2px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  width: 500px;
  display: flex;
  align-items: center;
}
span {
  flex: 1;
}
.delete-button,
.move-button {
  padding: 8px, 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
