:root {
  /* --bg-color: #84da68; */
  --bg-color: #1f241d;
}
.project-header {
  color: #f7fbf5;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid-container {
  margin: 0rem 8rem 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 3rem;
  object-fit: cover;
  object-position: center center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 2rem;
}

.test {
  height: 100%;
  width: 100%;
}

.test:hover .image {
  opacity: 0.3;
}

/* Dette er for hover effekt */
/* .test:hover .hei {
  opacity: 1;
}
.hei {
  opacity: 0;
  position: relative;
  left: 50%;
  bottom: 50%;
} */
.image {
  height: 100%;
  width: 100%;
}

.side-project-wrapper {
  background-color: var(--bg-color);
}
