:root {
  --bg-color: aqua;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  object-fit: cover;
  object-position: center center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  height: 100%;
  width: 100%;
}

.test:hover .image {
  opacity: 0.3;
}

/* Dette er for hover effekt */
/* .test:hover .hei {
  opacity: 1;
}
.hei {
  opacity: 0;
  position: relative;
  left: 50%;
  bottom: 50%;
} */
.image {
  height: 100%;
  width: 100%;
}

.side-project-wrapper {
  background-color: var(--bg-color);
  margin: 5rem;
}
.project-header {
  margin-top: 10rem;
  text-align: center;
}
