.project-header {
  /* font-size: 3rem; */
  color: #f7fbf5;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.grid-container {
  margin: 0rem 8rem 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 2rem;
  object-fit: cover;
  object-position: center center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 2rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.link:hover .image {
  opacity: 0.3;
}

/* Dette er for hover effekt */
.link:hover .hidden-header {
  opacity: 1;
}
.hidden-header {
  color: white;
  opacity: 0;
  position: absolute;
  /* left: 50%;
  bottom: 50%; */
}
.image {
  height: 100%;
  width: 100%;
}

.side-project-wrapper {
  background-color: var(--font-color);
}
