.experience-wrapper {
  background-color: #608bc1;
  margin-top: 10rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 20rem;
}
.experience-header {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}
.work {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.uio-wrapper,
.munch-wrapper {
  flex: 1;
  border: 1px solid;
  border-radius: 10%;
  text-align: center;
  background-color: #137887;
  margin: 1rem;
}
h2 {
  margin: 1rem 1rem 0.5rem;
}
.margin {
  margin: 2rem; /* storre margin forer til at uio teksten blir paa 3 linjer */
}
