.experience-wrapper {
  /* background-color: #9fdd8b; */
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 10rem;
}
.experience-header {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.work {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uio-wrapper,
.munch-wrapper {
  flex: 1;
  border: 1px solid;
  border-radius: 10%;
  text-align: center;
  background-color: #9fdd8b;
  margin: 1rem;
}
h2 {
  margin: 1rem 1rem 0.5rem;
}
.margin {
  margin: 2rem; /* storre margin forer til at uio teksten blir paa 3 linjer */
}
