.header-wrapper {
  display: flex;
  padding: 1rem 10rem;
  background: var(--primary);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.nav {
  display: flex;
  gap: 1rem;
}
.nav a,
.home-button {
  color: var(--font-color);
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
}
