@page

<h1>About</h1>

<p>Hei folkens. Jeg heter My og dette er mitt sanghefteprosjekt. 
    Jeg liker å spille gitar og jeg skulle gjerne hatt et egen sanghefte til sanger som jeg liker å spille. 
    Derfor startet jeg opp dette projektet.
    Prosjektet skal inneholde sangtekst med akkorder og bilder av hvordan man spiller ulike akkorder.
    </p>

<p>@DateTime.Now</p>