.contact-container {
  margin-bottom: 3rem;
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}
.contact-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linkedin-logo,
.github-logo,
.email-logo {
  height: 3rem;
  width: 3rem;
  background-color: purple;
}
