:root {
  --font-color: #0d150a;
  --bg-color: #f7fbf5;
  --primary: #67bf4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  /* border: 1px solid red; */
}
body {
  background-color: var(--bg-color);
}
